h1,h2,h3,h4,p {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ul li {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(24, 139, 233);
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  width: 100%;
  background: rgb(240,240,240);
  color: rgb(50,50,50);
}

article {
  box-sizing: border-box;
  color: rgb(50,50,50);
  padding: 16px;
  background: rgb(255,255,255);
}

article p {
  margin-bottom: .5em;
  letter-spacing: 1px;
}

article ul li:before {
  content: "*";
}

footer {
  box-sizing: border-box;
  color: rgb(50,50,50);
  background: rgb(240,240,240);
  text-align: center;
  padding: 50vh 0 50vh 0;
}
